* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: sans-serif;
  font-weight: 700;
  color: hsl(0, 64%, 61%);
  background-image: url(../assets/images/bg-stars.svg);
  background-color: hsl(234, 17%, 12%);
  animation: fadeOut 4s;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15rem;
}

.section-header {
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.section-counter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.deadline-format {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.deadline-format > div {
  background-color: hsla(237, 39%, 76%, 0.326);
  padding: 1rem 2rem;
  margin: 1rem;
  border-radius: 0.4rem;
  box-shadow: 0 13px 0 0 black;
}

.deadline-format > div > h1 {
  font-size: 3rem;
  color: hsl(345, 95%, 68%);
}

.deadline-format span {
  font-size: 0.8rem;
  color: hsl(237, 18%, 59%);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.footer {
  width: 100%;
  background-image: url(../assets/images/pattern-hills.svg);
  object-fit: cover;
  background-size: cover;
  padding: 4.5rem 0;
  text-align: center;
  background-repeat: no-repeat;
}

.footer .footer__socials a {
  margin: 0 1rem;
  cursor: pointer;
}

.footer .footer__socials img:hover {
  color: hsl(0, 64%, 61%);
}

@media (max-width: 799px) {
  .section {
    margin-bottom: 5rem;
    padding: 0 0.5rem;
  }

  .section-header {
    font-size: 1rem;
    margin-bottom: 4rem;
    text-align: center;
    line-height: 1.6;
  }

  .deadline-format > div {
    padding: 1rem 1rem;
    margin: 1rem 0.5rem;
  }

  .deadline-format > div > h1 {
    font-size: 2rem;
    color: hsl(345, 95%, 68%);
  }

  .deadline-format span {
    font-size: 0.8rem;
    letter-spacing: 0;
  }
}

svg {
  width: 32px;
  height: 32px;
}